.DS_Store  
__pycache__/  
*.py[cod]  
*.pyo  
*.pyd  
*.so  
*.egg-info/  
dist/  
build/  
*.log  
.venv/  
venv/  
env/  
.idea/  
.ipynb_checkpoints/  
.coverage  
htmlcov/  
config/app_settings.json  
projects/*/  
!projects/*/project_config.yaml  
test/data/**  
*~  
*.swp  
*.swo  
EOF  
